body {
    background-color: rgba(155, 96, 23, 0.831);
    color: aliceblue;
}

.title{
    text-align: center;
}
.racc-info{
    margin: auto 0;
    padding-left: 10%;
    padding-right: 10%;
}

.racc-img{
    text-align: center;
}

.racc-source {
    margin: auto 0;
    text-align: center;
    font-size: larger;
}